@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

:root {
    /* Cores Inspiradas em Harry Potter */
    --primary-color: #2c2c2c; /* Azul de Ravenclaw */
    --secondary-color: #730F11; /* Cor neutra clara */
    --card-background1: #AD1E24; /* Vermelho de Gryffindor */
    --card-background2: #EBB932; /* Verde de Slytherin */
    --text-color: #ffffff; /* Preto para texto */
    --footer-bg-color: #D3A629; /* Preto de Hufflepuff */
    --footer-text-color: #ffffff; /* Amarelo de Hufflepuff */
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
    background-color: var(--secondary-color);
    color: var(--text-color);
    min-height: 100%;
}

/* Cabeçalho */
header {
    background-color: var(--secondary-color);
    padding: 20px;
    height: 200px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

/* Efeito de rotação suave na logo */
.logo {
    height: 100px;
    transition: transform 0.5s ease-in-out;
}

.logo:hover {
    transform: rotate(360deg); /* Gira a logo ao passar o mouse */
}

/* Pesquisar container */
.pesquisar-container {
    text-align: center;
    display: flex;
    gap: 16px;
    justify-content: center;
    align-items: center;
}

input[type="text"] {
    width: 300px;
    padding: 10px;
    height: 48px;
    border: 2px solid var(--card-background2);
    border-radius: 5px;
    font-size: 1rem;
}

/* Botão com efeito de escala e sombra ao passar o mouse */
button {
    padding: 10px 20px;
    background-color: var(--card-background2);
    color: var(--footer-text-color);
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    height: 48px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

button:hover {
    background-color: var(--card-background1);
    transform: scale(1.1); /* Aumenta o botão em 10% */
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3); /* Adiciona uma sombra mais intensa */
}

/* Área dos cards com scroll */
.cards-container {
    max-height: 600px;
    overflow-y: auto;
    padding: 20px;
    width: 70%;
    margin: 0 auto;
}

.cards-container::-webkit-scrollbar {
    width: 12px;
}

.cards-container::-webkit-scrollbar-track {
    background: var(--card-background2);
    border-radius: 10px;
}

.cards-container::-webkit-scrollbar-thumb {
    background: var(--card-background1);
    border-radius: 10px;
}

.cards-container::-webkit-scrollbar-thumb:hover {
    background: #555;
}

/* Cards dos personagens */
.card-personagem {
    background-color: var(--card-background1);
    margin: 24px 0;
    padding: 20px;
    border-radius: 10px;
    height: 100%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease, transform 0.5s ease;
    position: relative;
}

/* Efeito de flutuação nos cards ao passar o mouse */
.card-personagem:hover {
    transform: translateY(-10px); /* Faz o card "flutuar" para cima */
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2); /* Adiciona uma sombra mais pronunciada */
}

/* Efeito de zoom na imagem ao passar o mouse */
.card-personagem .imagem-container {
    width: 150px;
    height: 175px;
    border-radius: 50%;
    overflow: hidden;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.5s ease; /* Transição suave */
}

.card-personagem .imagem-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.5s ease; /* Transição suave */
}

.card-personagem .imagem-container:hover img {
    transform: scale(1.2); /* Zoom na imagem ao passar o mouse */
}

.card-personagem.sonserina {
    background-color: #1F7250 !important;
}

.card-personagem:nth-child(even) {
    background-color: var(--card-background2);
}

.card-personagem h2 {
    font-size: 2rem;
    margin-bottom: 10px;
}

.card-personagem p {
    margin-bottom: 10px;
    text-align: justify;
}

.card-personagem a {
    color: var(--footer-text-color);
    text-decoration: none;
}

.card-personagem a:hover {
    text-decoration: underline;
}

@media (max-width: 768px) {
    input[type="text"] {
        width: 100%;
    }

    .cards-container {
        width: 95%;
    }
}
